<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url('static', filename='images/favicon.ico') }}">
    <title>RecognizeME</title>
    <link
        rel="stylesheet"
        href="{{ url('static', filename='styles/main.css') }}"
    >
    <script src="{{ url('static', filename='javascript/ImageTools.js') }}"></script>
</head>
<body>
    <header class="header">
        <!--
        <a href="https://github.com/bheupers/recognizeme" class="fork-me-on-github">
            <img
                src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                alt="Fork me on GitHub"
            >
        </a>
        -->
        <div class="banner">
            <img
                class="banner-logo"
                src="{{ url('static', filename='images/logo.png') }}"
                alt="logo"
            >
            <h1 class="banner-title">RecognizeMe</h1>
            <p>
                <b><i>dlib</i></b> face-recognition deployed with aiohttp
            </p>
        </div>
    </header>
    <div class="wrapper">
        <main>
            <button  class="btn btn-success" onclick="HandleBrowseClick('input-image-hidden');" >Upload image</button>
            <button class="btn btn-success" id="start-capture" onclick="startCapture()">Start Video</button>
            <button class="btn btn-success" id="snap" onclick="capture()">Recognize Video</button>
            <input style="display: none;" id="input-image-hidden" onchange="handleOnChange('input-image-hidden')" type="file" accept="image/jpeg, image/png">
            <br>
            <div class="predict-info">
                <p>
                    <b>Who is this ?</b>
                    <span style="font-size: x-large; "><div class="large-text" id="data-wrapper">&nbsp;</div></span>
                </p>
            </div>
            <div class="image-block">
                    <img id="image-preview" src="https://crowdsourcer.io/assets/images/no-img.png">
                    <video ref="video" id="video" width="640" height="480" autoplay="false"></video>
                <canvas ref="canvas" id="canvas" width="640" height="480"></canvas>
            </div>

            <script type="text/javascript">
                function stopCapture(video) {
                    let videoSrcObject = video.srcObject
                    if( videoSrcObject !== null) {
                        videoSrcObject.getVideoTracks().forEach(track => track.stop())
                    }
                    video.style.display = "none"
                }

                function responseToHtml(data) {
                  let outStr = '';

                  let names = Object.keys(data['recognitions'])
                  if (names.length > 0) {
                      names.forEach(function(name, index) {
                          outStr += name
                      })
                  }
                  if( outStr.length == 0) {
                      outStr = '&nbsp;'
                  }
                  return outStr
                }
                function HandleBrowseClick(input_image) {
                    video = document.getElementById('video')
                    stopCapture(video)
                    let image_preview = document.getElementById("image-preview")
                    image_preview.style.display = "block"
                    let fileinput = document.getElementById(input_image);
                    fileinput.click();
                };

                const upload = (file) => {
                  const data = new FormData();
                  const $dataWrapper = document.getElementById('data-wrapper')
                  $dataWrapper.innerHTML = '&nbsp;'

                  data.append('file', file);

                  fetch('{{ url("recognize") }}', {
                    method: 'POST',
                    body: data,
                  }).then(
                    response => response.json()
                  ).then(
                    data => $dataWrapper.innerHTML = responseToHtml(data)
                  )
                };

                function handleOnChange(input_image) {
                    let input = document.getElementById(input_image)
                    ImageTools.resize(input.files[0], {
                        width: 480, // maximum width
                        height: 640 // maximum height
                    }, function(blob, didItResize) {
                        // didItResize will be true if it managed to resize it, otherwise false (and will return the original file as 'blob')
                        document.getElementById('image-preview').src = window.URL.createObjectURL(blob);
                        upload(blob);
                    });
                    // document.getElementById('image-preview').src = (
                    //   window.URL.createObjectURL(input.files[0])
                    // )
                    // upload(input.files[0]);
                };

                function startCapture() {
                    let video = document.getElementById('video')
                    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                        navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
                            video.srcObject = stream
                            video.play()
                        }).catch(function (e) {
                            console.log('Something went wrong:' + e.toString())
                        })
                    }
                    document.getElementById("image-preview").style.display = "none"
                    video.style.display = "block"
                    const $dataWrapper = document.getElementById('data-wrapper')
                    $dataWrapper.innerHTML = '&nbsp;'
                }

                function capture() {
                    // const MAX_CAPTURES_LEN = 4
                    canvas = document.getElementById('canvas')
                    let video = document.getElementById('video')
                    canvas.getContext('2d').drawImage(video, 0, 0, 640, 480);
                    let preview = document.getElementById("image-preview")
                    canvas.toBlob(function(blob) { upload(blob); preview.src = window.URL.createObjectURL(blob)}, 'image/jpg')
                    preview.style.display = 'block'
                    stopCapture(video)
                }
            </script>
        </main>
    </div>
</body>
</html>
