<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url('static', filename='images/favicon.ico') }}">
    <title>RecognizeME</title>
    <link
            rel="stylesheet"
            href="{{ url('static', filename='styles/main.css') }}"
    >
    <script src="{{ url('static', filename='javascript/ImageTools.js') }}"></script>
</head>
<body onload="onLoad()">
<header class="header">
    <!--
    <a href="https://github.com/bheupers/recognizeme" class="fork-me-on-github">
        <img
            src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
            alt="Fork me on GitHub"
        >
    </a>
    -->
    <div class="banner">
        <img
                class="banner-logo"
                src="{{ url('static', filename='images/logo.png') }}"
                alt="logo"
        >
        <h1 class="banner-title">RecognizeMe</h1>
        <p>
            <b><i>dlib</i></b> face-recognition deployed with aiohttp
        </p>
    </div>
</header>
<main>
    <div class="wrapper">
        <button id="toggle-help-button" onclick="toggleHelpText()">X</button>
        <div id="help-text">
            <p>
                First add a face by enabling <b>Add Face Mode</b>, give a name and add a picture of a face by either
                <b>Upload Image</b> or <b>Start Camera</b>. Then press "Add Face".
            </p>
            <p>
                Then use <b>Recognize Mode</b> and supply a new picture with upload or the camera and press <b>Who is
                this?</b>
            </p>
        </div>
        <button class="btn btn-success" onclick="HandleBrowseClick('input-image-hidden');">Upload Image</button>
        <button class="btn btn-success" id="start-capture" onclick="startCapture()">Start Camera</button>
        <button class="btn btn-success" id="toggle-add-face" onclick="toggleAddFace()">Add Face Mode</button>

        <input style="display: none;" id="input-image-hidden" onchange="handleOnChange('input-image-hidden')"
               type="file" accept="image/jpeg, image/png">
        <br/>
        <div class="name-info" id="name-info" style="display:none">
            <label for="fname">Give new name </label>
            <input disabled id="fname" type="text" name="fname" maxlength="32" size="16">
        </div>

        <div class="button-snap-block">
            <button class="btn btn-success btn-large" id="snap" onclick="capture()" disabled>Who is this ?</button>
        </div>

        <div class="add-face-info" id="add-face-info" style="display:none">
            <p>
                <span style="font-size: x-large; "><div class="large-text" id="result-add-face">&nbsp</div></span>
            </p>
        </div>


        <div class="recognize-info" id="recognize-info">
            <span style="font-size: x-large; "><div class="large-text" id="result-recognize">&nbsp;</div></span>
        </div>
    </div>
    <div class="image-block">
        <!-- <img id="image-preview" src="https://crowdsourcer.io/assets/images/no-img.png">-->
        <video ref="video" id="video" autoplay="false"
               style="display:None; margin: 0 auto"></video>
        <canvas ref="canvas" id="canvas" style="margin: 0 auto"></canvas>
    </div>
    <div class="wrapper">
        <p>
            Faces will not be stored on disk.
        </p>
    </div>

    <script type="text/javascript">
        let vWidth = 640;
        let vHeight = 480;

        function onLoad() {
            // var h = screen.height * ratio;
            let canvas = document.getElementById("canvas");
            let video = document.getElementById("video")
            let w = screen.width;
            if (w < 640) {
                vWidth = w;
                vHeight = Math.trunc(480 * w / 640);
            }
            canvas.width = vWidth;
            canvas.height = vHeight;
            video.width = vWidth;
            video.height = vHeight;
            let ctx = canvas.getContext("2d");
            let img = new Image;
            img.onload = function () {
                ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, canvas.width, canvas.height);
            };
            img.src = "{{ url('static', filename='images/no-img.png') }}";
            canvas.style.display = "block";
        }

        function drawRectangle(canvas, top, bottom, right, left) {
            var ctx = canvas.getContext("2d");
            ctx.beginPath();
            ctx.rect(left, top, right - left, bottom - top);
            ctx.lineWidth = 3;
            ctx.strokeStyle = '#ff0000';
            ctx.stroke();
        }

        function clearInfoText() {
            const resultRecognize = document.getElementById('result-recognize');
            const resultAddFace = document.getElementById('result-add-face');
            resultRecognize.innerHTML = '&nbsp;';
            resultAddFace.innerHTML = '&nbsp;';
        }

        function stopCapture(video) {
            const videoSrcObject = video.srcObject;
            if (videoSrcObject !== null) {
                videoSrcObject.getVideoTracks().forEach(track => track.stop())
            }
            video.style.display = "none";
            document.getElementById("start-capture").disabled = false;
            document.getElementById("snap").disabled = true;
        }

        function responseRecognizeToHtml(data) {
            let outStr = '';
            const names = Object.keys(data['recognitions']);
            const canvas = document.getElementById("canvas");
            if (names.length > 0) {
                let first = true;
                names.forEach(function (name, index) {
                    outStr += (first ? name : ', ' + name);
                    first = false;
                    r = data['recognitions'][name];
                    drawRectangle(canvas, r.top, r.bottom, r.right, r.left);
                })
            } else {
                outStr = "No faces found";
            }
            canvas.style.display = 'block';
            document.getElementById("add-face-info").style.display = 'none';
            document.getElementById("recognize-info").style.display = 'block';
            return outStr;
        }

        function responseAddFaceToHtml(data) {
            let outStr = '';
            const names = data['faces_added'];
            if (names.length > 0) {
                let first = true;
                names.forEach(function (name, index) {
                    outStr += (first ? name : ', ' + name);
                    first = false;
                });
                outStr += ' added';
            } else {
                outStr = data['message'];
                outStr = "No faces found";
            }
            document.getElementById("canvas").style.display = 'block';
            document.getElementById("add-face-info").style.display = 'block';
            document.getElementById("recognize-info").style.display = 'none';
            return outStr;
        }

        function HandleBrowseClick(input_image) {
            video = document.getElementById('video');
            stopCapture(video);
            const canvas = document.getElementById("canvas");
            canvas.style.display = "block";
            const fileinput = document.getElementById(input_image);
            fileinput.click();
        }

        const upload = (file) => {
            const data = new FormData();
            data.append('file', file);
            resultRecognize = document.getElementById('result-recognize');

            fetch('{{ url("recognize") }}', {
                method: 'POST',
                body: data,
            }).then(
                response => response.json()
            ).then(
                data => resultRecognize.innerHTML = responseRecognizeToHtml(data)
            )
        };

        const add_face = (name, file) => {
            resultAddFace = document.getElementById('result-add-face');
            const data = new FormData();
            data.append('name', name);
            data.append('file', file);

            fetch('{{ url("add_face") }}', {
                method: 'POST',
                body: data,
            }).then(
                response => response.json()
            ).then(
                data => resultAddFace.innerHTML = responseAddFaceToHtml(data)
            )
        };

        function handleOnChange(input_image) {
            clearInfoText();
            const input = document.getElementById(input_image);
            ImageTools.resize(input.files[0], {
                width: vWidth,
                height: vHeight
            }, function (blob, didItResize) {
                // didItResize will be true if it managed to resize it, otherwise false (and will return the original file as 'blob')
                const canvas = document.getElementById('canvas');
                const ctx = canvas.getContext("2d");
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                var img = new Image;
                img.onload = function () {
                    ctx.drawImage(img, 0, 0);
                };
                img.src = window.URL.createObjectURL(blob);
                document.getElementById("snap").disabled = false;
            });
        };

        function startCapture() {
            clearInfoText();
            const video = document.getElementById('video')
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({video: true}).then(stream => {
                    video.srcObject = stream;
                    video.play()
                }).catch(function (e) {
                    console.log('Something went wrong:' + e.toString())
                })
            }
            document.getElementById("canvas").style.display = "none";
            video.style.display = "block";
            const resultRecognize = document.getElementById('result-recognize');
            resultRecognize.innerHTML = '&nbsp;';
            document.getElementById("start-capture").disabled = true;
            document.getElementById("snap").disabled = false;
        }

        function capture() {
            let addFaceMode = false;
            let newName = '';
            if (document.getElementById('name-info').style.display === 'block') {
                addFaceMode = true;
                newName = document.getElementById("fname").value;
                if (!newName) {
                    alert("New name cannot be empty");
                    document.getElementById("fname").setFocus();
                    return;
                }
            }
            const canvas = document.getElementById('canvas');
            if (video.style.display === 'block') {
                const video = document.getElementById('video');
                const ctx = canvas.getContext("2d");
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                let w = video.videoWidth;
                let h = video.videoHeight;
                let x = 0;
                let y = 0;
                let w1 = Math.trunc(w * vHeight / h);
                let h1 = Math.trunc(h * vWidth / w);
                //let h1 =
                if(w1 < vWidth) {
                    h1 = vHeight;
                    x = (vWidth - w1) / 2;
                } else if( h1 < vHeight) {
                    w1 = vWidth;
                    y = (vHeight - h1) / 2;
                } else {
                    w1 = vWidth;
                    h1 = vHeight;
                }
                canvas.getContext('2d').drawImage(video, x, y, w1, h1);
            }
            canvas.toBlob(function (blob) {
                if (addFaceMode) {
                    add_face(newName, blob);
                } else {
                    upload(blob);
                }
            }, 'image/jpg');
            canvas.style.display = 'block';
            stopCapture(video)
        }

        function toggleAddFace() {
            const toggleAddFace = document.getElementById("toggle-add-face");
            const divNameInfo = document.getElementById("name-info");
            const inputFName = document.getElementById("fname");
            const btnSnap = document.getElementById("snap");
            const addFaceInfo = document.getElementById("add-face-info");
            const recognizeInfo = document.getElementById("recognize-info");

            if (divNameInfo.style.display === "block") {
                divNameInfo.style.display = "none";
                inputFName.disabled = true;
                toggleAddFace.innerText = "Add Face Mode";
                btnSnap.innerText = "Who is this ?";
                recognizeInfo.style.display = 'block';
                addFaceInfo.style.display = 'none';
            } else {
                divNameInfo.style.display = "block";
                inputFName.disabled = false;
                toggleAddFace.innerText = "Recognize Mode";
                btnSnap.innerText = "Add Face";
                recognizeInfo.style.display = 'none';
                addFaceInfo.style.display = 'block';
            }
        }

        function toggleHelpText(){
            helpText = document.getElementById("help-text");
            buttonHelpText = document.getElementById("toggle-help-button");
            if( helpText.style.display !== 'none') {
                helpText.style.display = 'none';
                buttonHelpText.innerHTML = "?";
            } else {
                helpText.style.display = 'block';
                buttonHelpText.innerHTML = "x";
            }
        }
    </script>
</main>
</body>
</html>
